.recent-grid {
    -fx-background-color: #1E1E1E;
}

.recent-item-view {
    -fx-background-color: #2D2D2D;
    -fx-border-color: #424242;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 2);
}

.recent-item-view:hover {
    -fx-border-color: #0A84FF;
}

.recent-item-name {
    -fx-font-size: 14px;
    -fx-text-fill: #E0E0E0;
}

.recent-item-date {
    -fx-font-size: 12px;
    -fx-text-fill: #BDBDBD;
}
